@charset "utf-8";
/* Responsive tel*/
@media screen and (max-width: 650px) {
    ul.menu {
        flex-wrap: wrap;
    }
}
html{
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));

}
body {
    font-family: Arial;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
    border-radius: 15px;

}

.nav-bar {
    position: sticky;
    height: auto;
    width: 100%;
    background-color: #ffacac;
    display: flex;
    flex-direction: row;
    top: 0px;
}

.a_propos {
    background-color: wheat;
    font-size: 20px;
    text-align: center;
    padding: 1%;
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: black;
}

a.lien_tag {
    color: rebeccapurple;
}


a.lien_compte {
    display: block;
    border-radius: 10px;
    background-color: #EC7220;
    padding: 5px;
    position: relative;
    top : 10px;
}

a.lien_page_droit{
    color :white;
}

.compte {
    display: inline-block;
}


.container_msg {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.msg {
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    height: auto;
    width: auto;
    margin : 10px;
    background-color: #D56F60;
}



footer {
    height: 2em;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.pseudo {
    position: absolute;
    right: 0px;
    background-color : #D361B4;
    border-radius: 10px 0 0 10px;
    height: 1em;
    font-size: 25px;
    padding: 10px;

}

.emoji {
    width: 20px;
    height: 20px;
    margin : 5px;
}


.boutonEmoji {
    border-radius: 10px;
    background-color: #788DD8;
    border: none;
}


.bouton_page{
	border-width: 1px;
    border-style: solid;
    margin : 10px;
}

.boutonEmoji:hover{
    border: black;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.rechercheTag {
    position: fixed;
    top : 400px;
    left: 100px;
}

.image_msg {
    width : 25% ;
    height : 25%;
}

.btn_ajout_msg
{
    border-radius: 10px;
    background-color: #788DD8;
    border: none;
}

.btn_ajout_msg:hover {
    border: black;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

