@charset "utf-8";
/* Responsive tel*/
@media screen and (max-width: 650px) {
    ul.menu {
        flex-wrap: wrap;
    }
}
html{
    height: 100%;
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));

}
body {
    font-family: Arial;
    height: 100%;
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));

}

.nav-bar {
    height: 100px;
    width: 100%;
    background-color: #ffacac;
    display: flex;
    flex-direction: row;
}

section {
    background: url(https://i.imgur.com/Dk3XeQE.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px)
}

a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
a:hover {
    border-width: 1px;
    border-style: solid;
    border-radius: 9px;
}

ul.menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    margin : 0;
    padding : 0;
}

li.menu_liste {
    margin : auto;
    display: block;
    border-radius: 10px;
    background-image: linear-gradient(to right, #F2C65E 0%, #FCAC54 50%, #DD7604 100%);
}

.container_msg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg {
    border-width: 1px;
    border-style: solid;
    height: 20px;
    width: auto;
    margin : 10px;
}

/* Poster une image + message */

#content{
    width: 50%;
    margin: 20px auto;
    border: 1px solid #cbcbcb;
}
#form_image{
    width: 50%;
    margin: 20px auto;
}
#form_image div{
    margin-top: 5px;
}
#img_div{
    width: 80%;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid #cbcbcb;
}
#img_div:after{
    content: "";
    display: block;
    clear: both;
}
img{
    float: left;
    margin: 5px;
    width: 300px;
    height: 140px;
}


